<legend>Login</legend>
<%= form_for :session, url: login_path, html: { class: "form-horizontal", role: "form" } do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Username:', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, 'Password:', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 actions">
      <%= f.submit 'Login', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>