<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Training" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Training" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="col-sm-3 menu-login">
        <%= render 'sessions/login'%>
      </div>
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <%= javascript_include_tag "custom", 'data-turbolinks-track' => "reload" %>
  </body>
</html>
